.u-section-present-1 {
    background-image: url("/images/duathlon-12.jpg");
    background-position: 50% 50%;
  }
  
  .u-section-1 .u-sheet-1 {
    min-height: 800px;
  }
  
  .u-section-1 .u-group-1 {
    width: 625px;
    min-height: 388px;
    background-image: none;
    height: auto;
    margin: 412px auto 0 0;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 30px 40px;
  }
  
  .u-section-1 .u-text-1 {
    font-weight: 700;
    font-size: 4.5rem;
    margin: 0;
  }
  
  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin: 20px 0 0;
  }
  
  .u-section-1 .u-text-3 {
    margin: 20px 0 0;
  }
  
  .u-section-1 .u-btn-1 {
    border-style: solid;
    padding: 0;
  }
  
  .u-section-1 .u-btn-2 {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-style: solid;
    font-size: 0.9375rem;
    background-image: none;
    margin: 20px auto 0 0;
    padding: 16px 66px 16px 65px;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
      min-height: 660px;
    }
  
    .u-section-1 .u-group-1 {
      height: auto;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 506px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
      min-height: 800px;
    }
  
    .u-section-1 .u-group-1 {
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 35px;
      padding-right: 35px;
    }
  
    .u-section-1 .u-text-1 {
      font-size: 3.75rem;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
      min-height: 504px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 25px;
      padding-right: 25px;
    }
  
    .u-section-1 .u-text-1 {
      font-size: 3rem;
    }
  } .u-section-2 {
    background-image: none;
  }
  
  .u-section-2 .u-sheet-1 {
    min-height: 711px;
  }
  
  .u-section-2 .u-list-1 {
    margin-top: 60px;
    margin-bottom: 0;
  }
  
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
    min-height: 472px;
    grid-gap: 20px;
  }
  
  .u-section-2 .u-list-item-1 {
    background-size: auto;
  }
  
  .u-section-2 .u-container-layout-1 {
    padding: 30px;
  }
  
  .u-section-2 .u-image-1 {
    height: 239px;
    margin: 0 auto 0 0;
  }
  
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 20px;
  }
  
  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-top: 20px;
  }
  
  .u-section-2 .u-btn-1 {
    border-style: solid;
    padding: 0;
  }
  
  .u-section-2 .u-list-item-2 {
    background-image: none;
  }
  
  .u-section-2 .u-container-layout-2 {
    padding: 30px;
  }
  
  .u-section-2 .u-image-2 {
    height: 239px;
    margin: 0 auto 0 0;
  }
  
  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 20px;
  }
  
  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-top: 20px;
  }
  
  .u-section-2 .u-btn-2 {
    border-style: solid;
    padding: 0;
  }
  
  .u-section-2 .u-list-item-3 {
    background-size: auto;
  }
  
  .u-section-2 .u-container-layout-3 {
    padding: 30px;
  }
  
  .u-section-2 .u-image-3 {
    height: 239px;
    margin: 0 auto 0 0;
  }
  
  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 20px;
  }
  
  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-top: 20px;
  }
  
  .u-section-2 .u-btn-3 {
    border-style: solid;
    padding: 0;
  }
  
  .u-section-2 .u-text-7 {
    font-size: 1.125rem;
    font-style: italic;
    text-align: center;
    margin: 30px auto 60px;
  }
  
  .u-section-2 .u-btn-4 {
    border-style: solid;
    font-style: italic;
    padding: 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-2 .u-sheet-1 {
      min-height: 650px;
    }
  
    .u-section-2 .u-repeater-1 {
      min-height: 425px;
    }
  
    .u-section-2 .u-image-1 {
      height: 189px;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-2 .u-text-2 {
      margin-bottom: 0;
    }
  
    .u-section-2 .u-image-2 {
      height: 189px;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-2 .u-text-4 {
      margin-bottom: 0;
    }
  
    .u-section-2 .u-image-3 {
      height: 189px;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-2 .u-text-6 {
      margin-bottom: 0;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-2 .u-sheet-1 {
      min-height: 498px;
    }
  
    .u-section-2 .u-list-1 {
      height: auto;
    }
  
    .u-section-2 .u-repeater-1 {
      grid-template-columns: repeat(2, calc(50% - 10px));
      min-height: 471px;
    }
  
    .u-section-2 .u-image-1 {
      height: 224px;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-2 .u-image-2 {
      height: 224px;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-2 .u-image-3 {
      height: 224px;
      margin-right: initial;
      margin-left: initial;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-2 .u-sheet-1 {
      min-height: 374px;
    }
  
    .u-section-2 .u-repeater-1 {
      grid-template-columns: repeat(1, 100%);
    }
  
    .u-section-2 .u-image-1 {
      height: 349px;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-2 .u-image-2 {
      height: 349px;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-2 .u-image-3 {
      height: 349px;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-2 .u-text-7 {
      margin-top: 35px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-2 .u-sheet-1 {
      min-height: 235px;
    }
  
    .u-section-2 .u-container-layout-1 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-2 .u-image-1 {
      height: 222px;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-2 .u-container-layout-2 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-2 .u-image-2 {
      height: 222px;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-2 .u-container-layout-3 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-2 .u-image-3 {
      height: 222px;
      margin-right: initial;
      margin-left: initial;
    }
  } .u-section-3 {
    background-image: none;
  }
  
  .u-section-3 .u-sheet-1 {
    min-height: 1084px;
  }
  
  .u-section-3 .u-text-1 {
    font-size: 4.375rem;
    font-weight: 700;
    margin: 60px 0 0 490px;
  }
  
  .u-section-3 .u-shape-1 {
    width: 236px;
    height: 236px;
    margin: 11px auto 0 75px;
  }
  
  .u-section-3 .u-image-1 {
    width: 854px;
    height: 569px;
    margin: -165px 111px 0 auto;
  }
  
  .u-section-3 .u-group-1 {
    min-height: 366px;
    width: 498px;
    margin: -170px 0 60px auto;
  }
  
  .u-section-3 .u-container-layout-1 {
    padding: 30px;
  }
  
  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
    margin: 0;
  }
  
  .u-section-3 .u-text-3 {
    font-style: italic;
    margin: 20px 0 0;
  }
  
  .u-section-3 .u-text-4 {
    margin: 20px 0 0;
  }
  
  .u-section-3 .u-btn-1 {
    border-style: solid;
    padding: 0;
  }
  
  .u-section-3 .u-btn-2 {
    border-style: solid;
    font-size: 0.9375rem;
    text-transform: uppercase;
    font-weight: 400;
    background-image: none;
    letter-spacing: 2px;
    margin: 30px auto 0 0;
    padding: 16px 53px;
  }
  
  @media (max-width: 1199px) {
    .u-section-3 .u-text-1 {
      margin-left: 290px;
    }
  
    .u-section-3 .u-shape-1 {
      margin-left: 54px;
    }
  
    .u-section-3 .u-image-1 {
      width: 724px;
      height: 514px;
      margin-right: 54px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-3 .u-sheet-1 {
      min-height: 1034px;
    }
  
    .u-section-3 .u-text-1 {
      font-size: 3.75rem;
      width: auto;
      margin-left: 118px;
    }
  
    .u-section-3 .u-shape-1 {
      margin-left: 30px;
    }
  
    .u-section-3 .u-image-1 {
      width: 572px;
      height: 403px;
      margin-right: 30px;
    }
  
    .u-section-3 .u-group-1 {
      margin-top: -81px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-3 .u-sheet-1 {
      min-height: 918px;
    }
  
    .u-section-3 .u-text-1 {
      font-size: 3rem;
      margin-left: 58px;
    }
  
    .u-section-3 .u-shape-1 {
      width: 185px;
      height: 185px;
      margin-top: 49px;
      margin-left: 0;
    }
  
    .u-section-3 .u-image-1 {
      width: 454px;
      height: 310px;
      margin-top: -124px;
      margin-right: 28px;
    }
  
    .u-section-3 .u-group-1 {
      width: 430px;
      margin-top: -52px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-3 .u-sheet-1 {
      min-height: 852px;
    }
  
    .u-section-3 .u-text-1 {
      font-size: 2.25rem;
      margin-top: 55px;
      margin-left: 0;
    }
  
    .u-section-3 .u-shape-1 {
      width: 124px;
      height: 124px;
    }
  
    .u-section-3 .u-image-1 {
      width: 291px;
      height: 209px;
      margin-top: -82px;
      margin-right: 0;
    }
  
    .u-section-3 .u-group-1 {
      width: 291px;
      margin-top: 38px;
      margin-bottom: 55px;
    }
  
    .u-section-3 .u-container-layout-1 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-3 .u-text-2 {
      font-size: 1.5rem;
    }
  } .u-section-4 {
    min-height: 838px;
    background-image: none;
  }
  
  .u-section-4 .u-image-1 {
    min-height: 423px;
    margin-top: 0;
    margin-bottom: 0;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/jhjhjhjhjj-min.jpg");
    background-position: 50% 50%;
    height: auto;
  }
  
  .u-section-4 .u-container-layout-1 {
    padding: 140px 30px 30px;
  }
  
  .u-section-4 .u-text-1 {
    text-transform: uppercase;
    font-size: 4.5rem;
    margin: 0 auto;
  }
  
  .u-section-4 .u-list-1 {
    width: 1140px;
    margin: -103px auto 0;
  }
  
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 15px));
    min-height: 387px;
    grid-gap: 20px;
  }
  
  .u-section-4 .u-list-item-1 {
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  }
  
  .u-section-4 .u-container-layout-2 {
    padding: 30px;
  }
  
  .u-section-4 .u-icon-1 {
    height: 70px;
    width: 70px;
    margin: 0 auto;
  }
  
  .u-section-4 .u-text-2 {
    font-weight: 700;
    margin: 20px 0 0;
  }
  
  .u-section-4 .u-text-3 {
    font-style: italic;
    margin: 20px 0 0;
  }
  
  .u-section-4 .u-btn-1 {
    margin-left: auto;
    margin-right: auto;
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 0;
    padding: 0;
  }
  
  .u-section-4 .u-list-item-2 {
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  }
  
  .u-section-4 .u-container-layout-3 {
    padding: 30px;
  }
  
  .u-section-4 .u-icon-2 {
    height: 70px;
    width: 70px;
    margin: 0 auto;
  }
  
  .u-section-4 .u-text-4 {
    font-weight: 700;
    margin: 20px 0 0;
  }
  
  .u-section-4 .u-text-5 {
    font-style: italic;
    margin: 20px 0 0;
  }
  
  .u-section-4 .u-btn-2 {
    margin-left: auto;
    margin-right: auto;
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 0;
    padding: 0;
  }
  
  .u-section-4 .u-list-item-3 {
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  }
  
  .u-section-4 .u-container-layout-4 {
    padding: 30px;
  }
  
  .u-section-4 .u-icon-3 {
    height: 70px;
    width: 70px;
    margin: 0 auto;
  }
  
  .u-section-4 .u-text-6 {
    font-weight: 700;
    margin: 20px 0 0;
  }
  
  .u-section-4 .u-text-7 {
    font-style: italic;
    margin: 20px 0 0;
  }
  
  .u-section-4 .u-btn-3 {
    margin-left: auto;
    margin-right: auto;
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 0;
    padding: 0;
  }
  
  .u-section-4 .u-list-item-4 {
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  }
  
  .u-section-4 .u-container-layout-5 {
    padding: 30px;
  }
  
  .u-section-4 .u-icon-4 {
    height: 70px;
    width: 70px;
    margin: 0 auto;
  }
  
  .u-section-4 .u-text-8 {
    font-weight: 700;
    margin: 20px 0 0;
  }
  
  .u-section-4 .u-text-9 {
    font-style: italic;
    margin: 20px 0 0;
  }
  
  .u-section-4 .u-btn-4 {
    margin-left: auto;
    margin-right: auto;
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 0;
    padding: 0;
  }
  
  .u-section-4 .u-text-10 {
    font-style: italic;
    margin: 45px auto 60px;
  }
  
  .u-section-4 .u-btn-5 {
    font-style: italic;
    padding: 0;
  }
  
  @media (max-width: 1199px) {
     .u-section-4 {
      min-height: 750px;
    }
  
    .u-section-4 .u-image-1 {
      min-height: 377px;
      height: auto;
    }
  
    .u-section-4 .u-container-layout-1 {
      padding-top: 120px;
    }
  
    .u-section-4 .u-list-1 {
      width: 940px;
      margin-top: -112px;
    }
  
    .u-section-4 .u-repeater-1 {
      min-height: 349px;
    }
  
    .u-section-4 .u-list-item-1 {
      transition-duration: 0.5s;
    }
  
    .u-section-4 .u-container-layout-2 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-4 .u-text-2 {
      transition-duration: 0.5s;
    }
  
    .u-section-4 .u-text-3 {
      transition-duration: 0.5s;
    }
  
    .u-section-4 .u-btn-1 {
      transition-duration: 0.5s;
      transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    }
  
    .u-section-4 .u-list-item-2 {
      transition-duration: 0.5s;
    }
  
    .u-section-4 .u-container-layout-3 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-4 .u-text-4 {
      transition-duration: 0.5s;
    }
  
    .u-section-4 .u-text-5 {
      transition-duration: 0.5s;
    }
  
    .u-section-4 .u-btn-2 {
      transition-duration: 0.5s;
      transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    }
  
    .u-section-4 .u-list-item-3 {
      transition-duration: 0.5s;
    }
  
    .u-section-4 .u-container-layout-4 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-4 .u-text-6 {
      transition-duration: 0.5s;
    }
  
    .u-section-4 .u-text-7 {
      transition-duration: 0.5s;
    }
  
    .u-section-4 .u-btn-3 {
      transition-duration: 0.5s;
      transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    }
  
    .u-section-4 .u-list-item-4 {
      transition-duration: 0.5s;
    }
  
    .u-section-4 .u-container-layout-5 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-4 .u-text-8 {
      transition-duration: 0.5s;
    }
  
    .u-section-4 .u-text-9 {
      transition-duration: 0.5s;
    }
  
    .u-section-4 .u-btn-4 {
      transition-duration: 0.5s;
      transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    }
  
    .u-section-4 .u-text-10 {
      width: auto;
      margin-top: 40px;
    }
  }
  
  @media (max-width: 991px) {
     .u-section-4 {
      min-height: 1089px;
    }
  
    .u-section-4 .u-container-layout-1 {
      padding-top: 100px;
    }
  
    .u-section-4 .u-list-1 {
      width: 720px;
    }
  
    .u-section-4 .u-repeater-1 {
      grid-template-columns: repeat(2, calc(50% - 10px));
      min-height: 691px;
    }
  
    .u-section-4 .u-text-10 {
      margin-top: 47px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-4 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-4 .u-list-1 {
      width: 540px;
    }
  }
  
  @media (max-width: 575px) {
     .u-section-4 {
      min-height: 1632px;
    }
  
    .u-section-4 .u-image-1 {
      min-height: 227px;
    }
  
    .u-section-4 .u-container-layout-1 {
      padding-top: 70px;
    }
  
    .u-section-4 .u-text-1 {
      font-size: 2.25rem;
    }
  
    .u-section-4 .u-list-1 {
      width: 340px;
      margin-top: -67px;
    }
  
    .u-section-4 .u-repeater-1 {
      grid-template-columns: 100%;
      min-height: 1352px;
    }
  
    .u-section-4 .u-text-10 {
      margin-top: 35px;
      margin-bottom: 59px;
    }
  }
  
  .u-block-eceb-56:not([data-block-selected]):not([data-cell-selected]),
  .u-block-eceb-56:not([data-block-selected]):not([data-cell-selected]):before,
  .u-block-eceb-56:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
  }
  
  .u-block-eceb-56:not([data-block-selected]):not([data-cell-selected]).u-block-eceb-56:not([data-block-selected]):not([data-cell-selected]).u-block-eceb-56:not([data-block-selected]):not([data-cell-selected]):hover:before {
    background-color: #333129 !important;
  }
  
  .u-block-eceb-62:not([data-block-selected]):not([data-cell-selected]),
  .u-block-eceb-62:not([data-block-selected]):not([data-cell-selected]):before,
  .u-block-eceb-62:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
  }
  
  .u-block-eceb-62:not([data-block-selected]):not([data-cell-selected]).u-block-eceb-62:not([data-block-selected]):not([data-cell-selected]).u-block-eceb-62:not([data-block-selected]):not([data-cell-selected]):hover:before {
    background-color: #333129 !important;
  }
  
  .u-block-eceb-68:not([data-block-selected]):not([data-cell-selected]),
  .u-block-eceb-68:not([data-block-selected]):not([data-cell-selected]):before,
  .u-block-eceb-68:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
  }
  
  .u-block-eceb-68:not([data-block-selected]):not([data-cell-selected]).u-block-eceb-68:not([data-block-selected]):not([data-cell-selected]).u-block-eceb-68:not([data-block-selected]):not([data-cell-selected]):hover:before {
    background-color: #333129 !important;
  }
  
  .u-block-eceb-74:not([data-block-selected]):not([data-cell-selected]),
  .u-block-eceb-74:not([data-block-selected]):not([data-cell-selected]):before,
  .u-block-eceb-74:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
  }
  
  .u-block-eceb-74:not([data-block-selected]):not([data-cell-selected]).u-block-eceb-74:not([data-block-selected]):not([data-cell-selected]).u-block-eceb-74:not([data-block-selected]):not([data-cell-selected]):hover:before {
    background-color: #333129 !important;
  }
  
  .u-block-eceb-59:not([data-block-selected]):not([data-cell-selected]),
  .u-block-eceb-59:not([data-block-selected]):not([data-cell-selected]):before,
  .u-block-eceb-59:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
  }
  
  .u-container-layout:hover .u-block-eceb-59:not([data-block-selected]):not([data-cell-selected]) {
    color: #ffffff !important;
  }
  
  .u-container-layout.hover .u-block-eceb-59:not([data-block-selected]):not([data-cell-selected]) {
    color: #ffffff !important;
  }
  
  .u-block-eceb-65:not([data-block-selected]):not([data-cell-selected]),
  .u-block-eceb-65:not([data-block-selected]):not([data-cell-selected]):before,
  .u-block-eceb-65:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
  }
  
  .u-container-layout:hover .u-block-eceb-65:not([data-block-selected]):not([data-cell-selected]) {
    color: #ffffff !important;
  }
  
  .u-container-layout.hover .u-block-eceb-65:not([data-block-selected]):not([data-cell-selected]) {
    color: #ffffff !important;
  }
  
  .u-block-eceb-71:not([data-block-selected]):not([data-cell-selected]),
  .u-block-eceb-71:not([data-block-selected]):not([data-cell-selected]):before,
  .u-block-eceb-71:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
  }
  
  .u-container-layout:hover .u-block-eceb-71:not([data-block-selected]):not([data-cell-selected]) {
    color: #ffffff !important;
  }
  
  .u-container-layout.hover .u-block-eceb-71:not([data-block-selected]):not([data-cell-selected]) {
    color: #ffffff !important;
  }
  
  .u-block-eceb-77:not([data-block-selected]):not([data-cell-selected]),
  .u-block-eceb-77:not([data-block-selected]):not([data-cell-selected]):before,
  .u-block-eceb-77:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
  }
  
  .u-container-layout:hover .u-block-eceb-77:not([data-block-selected]):not([data-cell-selected]) {
    color: #ffffff !important;
  }
  
  .u-container-layout.hover .u-block-eceb-77:not([data-block-selected]):not([data-cell-selected]) {
    color: #ffffff !important;
  }
  
  .u-block-eceb-66:not([data-block-selected]):not([data-cell-selected]),
  .u-block-eceb-66:not([data-block-selected]):not([data-cell-selected]):before,
  .u-block-eceb-66:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
  }
  
  .u-container-layout:hover .u-block-eceb-66:not([data-block-selected]):not([data-cell-selected]) {
    color: #ffffff !important;
  }
  
  .u-container-layout.hover .u-block-eceb-66:not([data-block-selected]):not([data-cell-selected]) {
    color: #ffffff !important;
  }
  
  .u-block-eceb-60:not([data-block-selected]):not([data-cell-selected]),
  .u-block-eceb-60:not([data-block-selected]):not([data-cell-selected]):before,
  .u-block-eceb-60:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
  }
  
  .u-container-layout:hover .u-block-eceb-60:not([data-block-selected]):not([data-cell-selected]) {
    color: #ffffff !important;
  }
  
  .u-container-layout.hover .u-block-eceb-60:not([data-block-selected]):not([data-cell-selected]) {
    color: #ffffff !important;
  }
  
  .u-block-eceb-72:not([data-block-selected]):not([data-cell-selected]),
  .u-block-eceb-72:not([data-block-selected]):not([data-cell-selected]):before,
  .u-block-eceb-72:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
  }
  
  .u-container-layout:hover .u-block-eceb-72:not([data-block-selected]):not([data-cell-selected]) {
    color: #ffffff !important;
  }
  
  .u-container-layout.hover .u-block-eceb-72:not([data-block-selected]):not([data-cell-selected]) {
    color: #ffffff !important;
  }
  
  .u-block-eceb-78:not([data-block-selected]):not([data-cell-selected]),
  .u-block-eceb-78:not([data-block-selected]):not([data-cell-selected]):before,
  .u-block-eceb-78:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
  }
  
  .u-container-layout:hover .u-block-eceb-78:not([data-block-selected]):not([data-cell-selected]) {
    color: #ffffff !important;
  }
  
  .u-container-layout.hover .u-block-eceb-78:not([data-block-selected]):not([data-cell-selected]) {
    color: #ffffff !important;
  }
  
  .u-block-eceb-61:not([data-block-selected]):not([data-cell-selected]),
  .u-block-eceb-61:not([data-block-selected]):not([data-cell-selected]):before,
  .u-block-eceb-61:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
  }
  
  .u-container-layout:hover .u-block-eceb-61:not([data-block-selected]):not([data-cell-selected]) {
    transform: translateX(0px) translateY(-5px) scale(1) !important;
  }
  
  .u-container-layout.hover .u-block-eceb-61:not([data-block-selected]):not([data-cell-selected]) {
    transform: translateX(0px) translateY(-5px) scale(1) !important;
  }
  
  .u-block-eceb-67:not([data-block-selected]):not([data-cell-selected]),
  .u-block-eceb-67:not([data-block-selected]):not([data-cell-selected]):before,
  .u-block-eceb-67:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
  }
  
  .u-container-layout:hover .u-block-eceb-67:not([data-block-selected]):not([data-cell-selected]) {
    transform: translateX(0px) translateY(-5px) scale(1) !important;
  }
  
  .u-container-layout.hover .u-block-eceb-67:not([data-block-selected]):not([data-cell-selected]) {
    transform: translateX(0px) translateY(-5px) scale(1) !important;
  }
  
  .u-block-eceb-73:not([data-block-selected]):not([data-cell-selected]),
  .u-block-eceb-73:not([data-block-selected]):not([data-cell-selected]):before,
  .u-block-eceb-73:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
  }
  
  .u-container-layout:hover .u-block-eceb-73:not([data-block-selected]):not([data-cell-selected]) {
    transform: translateX(0px) translateY(-5px) scale(1) !important;
  }
  
  .u-container-layout.hover .u-block-eceb-73:not([data-block-selected]):not([data-cell-selected]) {
    transform: translateX(0px) translateY(-5px) scale(1) !important;
  }
  
  .u-block-eceb-79:not([data-block-selected]):not([data-cell-selected]),
  .u-block-eceb-79:not([data-block-selected]):not([data-cell-selected]):before,
  .u-block-eceb-79:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
  }
  
  .u-container-layout:hover .u-block-eceb-79:not([data-block-selected]):not([data-cell-selected]) {
    transform: translateX(0px) translateY(-5px) scale(1) !important;
  }
  
  .u-container-layout.hover .u-block-eceb-79:not([data-block-selected]):not([data-cell-selected]) {
    transform: translateX(0px) translateY(-5px) scale(1) !important;
  } .u-section-5 {
    background-image: none;
  }
  
  .u-section-5 .u-sheet-1 {
    min-height: 551px;
  }
  
  .u-section-5 .u-text-1 {
    width: 758px;
    margin: 59px auto 0;
  }
  
  .u-section-5 .u-list-1 {
    margin-top: 42px;
    margin-bottom: 59px;
  }
  
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 326px;
    grid-gap: 30px;
  }
  
  .u-section-5 .u-container-layout-1 {
    padding: 20px;
  }
  
  .u-section-5 .u-shape-1 {
    width: 50px;
    height: 50px;
    margin: 0 auto 0 0;
  }
  
  .u-section-5 .u-text-2 {
    margin: -50px 1px 0 80px;
  }
  
  .u-section-5 .u-container-layout-2 {
    padding: 20px;
  }
  
  .u-section-5 .u-shape-2 {
    width: 50px;
    height: 50px;
    margin: 0 auto 0 0;
  }
  
  .u-section-5 .u-text-3 {
    margin: -50px 1px 0 80px;
  }
  
  .u-section-5 .u-container-layout-3 {
    padding: 20px;
  }
  
  .u-section-5 .u-shape-3 {
    width: 50px;
    height: 50px;
    margin: 0 auto 0 0;
  }
  
  .u-section-5 .u-text-4 {
    margin: -50px 1px 0 80px;
  }
  
  .u-section-5 .u-container-layout-4 {
    padding: 20px;
  }
  
  .u-section-5 .u-shape-4 {
    width: 50px;
    height: 50px;
    margin: 0 auto 0 0;
  }
  
  .u-section-5 .u-text-5 {
    margin: -50px 1px 0 80px;
  }
  
  @media (max-width: 1199px) {
    .u-section-5 .u-sheet-1 {
      min-height: 591px;
    }
  
    .u-section-5 .u-repeater-1 {
      min-height: 269px;
    }
  
    .u-section-5 .u-text-2 {
      width: auto;
      margin-right: 0;
      margin-left: 81px;
    }
  
    .u-section-5 .u-text-3 {
      width: auto;
      margin-right: 0;
      margin-left: 81px;
    }
  
    .u-section-5 .u-text-4 {
      width: auto;
      margin-right: 0;
      margin-left: 81px;
    }
  
    .u-section-5 .u-text-5 {
      width: auto;
      margin-right: 0;
      margin-left: 81px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-5 .u-sheet-1 {
      min-height: 744px;
    }
  
    .u-section-5 .u-text-1 {
      width: 720px;
      margin-top: 60px;
    }
  
    .u-section-5 .u-list-1 {
      margin-bottom: 60px;
    }
  
    .u-section-5 .u-repeater-1 {
      grid-template-columns: calc(50% - 15px) calc(50% - 15px);
      grid-gap: 30px 30px;
    }
  
    .u-section-5 .u-shape-1 {
      margin-left: auto;
    }
  
    .u-section-5 .u-text-2 {
      margin-top: 20px;
      margin-left: 0;
    }
  
    .u-section-5 .u-shape-2 {
      margin-left: auto;
    }
  
    .u-section-5 .u-text-3 {
      margin-top: 20px;
      margin-left: 0;
    }
  
    .u-section-5 .u-shape-3 {
      margin-left: auto;
    }
  
    .u-section-5 .u-text-4 {
      margin-top: 20px;
      margin-left: 0;
    }
  
    .u-section-5 .u-shape-4 {
      margin-left: auto;
    }
  
    .u-section-5 .u-text-5 {
      margin-top: 20px;
      margin-left: 0;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-5 .u-sheet-1 {
      min-height: 1141px;
    }
  
    .u-section-5 .u-text-1 {
      width: 540px;
    }
  
    .u-section-5 .u-repeater-1 {
      grid-template-columns: 100%;
    }
  
    .u-section-5 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-5 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-5 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-5 .u-container-layout-4 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-5 .u-sheet-1 {
      min-height: 1293px;
    }
  
    .u-section-5 .u-text-1 {
      width: 340px;
    }
  } .u-section-6 {
    min-height: 895px;
    background-image: none;
  }
  
  .u-section-6 .u-shape-1 {
    height: 439px;
    background-image: none;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .u-section-6 .u-shape-2 {
    width: 780px;
    height: 673px;
    background-image: none;
    margin: -373px calc(((100% - 1140px) / 2)) 0 auto;
  }
  
  .u-section-6 .u-image-1 {
    width: 685px;
    height: 656px;
    object-position: 50% 50%;
    box-shadow: 0 0 25px 0 rgba(0,0,0,0.3);
    margin: -579px auto 0 calc(((100% - 1140px) / 2));
  }
  
  .u-section-6 .u-group-1 {
    width: 525px;
    min-height: 449px;
    height: auto;
    background-image: none;
    margin: -656px calc(((100% - 1140px) / 2) + 45px) 60px auto;
  }
  
  .u-section-6 .u-container-layout-1 {
    padding: 0 50px 30px;
  }
  
  .u-section-6 .u-text-1 {
    font-size: 3.75rem;
    margin: 0;
  }
  
  .u-section-6 .u-text-2 {
    font-size: 1.125rem;
    line-height: 2;
    margin: 28px 0 0;
  }
  
  .u-section-6 .u-btn-1 {
    border-style: solid;
    padding: 0;
  }
  
  .u-section-6 .u-btn-2 {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.9375rem;
    border-style: solid;
    background-image: none;
    margin: 45px auto 0 0;
    padding: 16px 53px;
  }
  
  @media (max-width: 1199px) {
     .u-section-6 {
      min-height: 871px;
    }
  
    .u-section-6 .u-shape-2 {
      margin-right: calc(((100% - 940px) / 2));
    }
  
    .u-section-6 .u-image-1 {
      width: 485px;
      height: 645px;
      margin-left: calc(((100% - 940px) / 2));
    }
  
    .u-section-6 .u-group-1 {
      width: 425px;
      min-height: 507px;
      margin-top: -645px;
      margin-right: calc(((100% - 940px) / 2) + 18px);
      height: auto;
    }
  
    .u-section-6 .u-container-layout-1 {
      padding-right: 0;
    }
  
    .u-section-6 .u-text-1 {
      font-size: 3rem;
    }
  }
  
  @media (max-width: 991px) {
     .u-section-6 {
      min-height: 1223px;
    }
  
    .u-section-6 .u-shape-2 {
      width: 589px;
      height: 1091px;
      margin-right: calc(((100% - 720px) / 2));
    }
  
    .u-section-6 .u-image-1 {
      width: 572px;
      height: 482px;
      margin-top: -1042px;
      margin-left: calc(((100% - 720px) / 2));
    }
  
    .u-section-6 .u-group-1 {
      width: 556px;
      min-height: 537px;
      margin-top: 0;
      margin-right: calc(((100% - 720px) / 2) + 17px);
    }
  
    .u-section-6 .u-container-layout-1 {
      padding-top: 30px;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-6 .u-shape-2 {
      width: 540px;
      margin-right: calc(((100% - 540px) / 2));
    }
  
    .u-section-6 .u-image-1 {
      width: 540px;
      height: 455px;
      margin-left: calc(((100% - 540px) / 2));
    }
  
    .u-section-6 .u-group-1 {
      width: 540px;
      margin-right: calc(((100% - 540px) / 2));
    }
  }
  
  @media (max-width: 575px) {
     .u-section-6 {
      min-height: 1177px;
    }
  
    .u-section-6 .u-shape-2 {
      width: 340px;
      height: 1021px;
      margin-right: auto;
    }
  
    .u-section-6 .u-image-1 {
      width: 340px;
      height: 324px;
      margin-top: -972px;
      margin-left: auto;
    }
  
    .u-section-6 .u-group-1 {
      width: 340px;
      margin-top: 50px;
      margin-right: calc(((100% - 340px) / 2));
    }
  
    .u-section-6 .u-container-layout-1 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-6 .u-text-1 {
      font-size: 2.25rem;
    }
  } .u-section-7 {
    background-image: none;
  }
  
  .u-section-7 .u-sheet-1 {
    min-height: 1085px;
  }
  
  .u-section-7 .u-shape-1 {
    width: 215px;
    height: 215px;
    margin: 686px 20px 0 auto;
  }
  
  .u-section-7 .u-shape-2 {
    width: 236px;
    height: 236px;
    margin: -813px auto 0 0;
  }
  
  .u-section-7 .u-image-1 {
    width: 927px;
    height: 618px;
    margin: -133px auto 0;
  }
  
  .u-section-7 .u-group-1 {
    min-height: 366px;
    width: 498px;
    height: auto;
    margin: -179px auto -537px 216px;
  }
  
  .u-section-7 .u-container-layout-1 {
    padding: 30px;
  }
  
  .u-section-7 .u-text-1 {
    font-family: "Francois One";
    font-size: 2.75rem;
    margin: 0;
  }
  
  .u-section-7 .u-text-2 {
    font-style: italic;
    margin: 20px 0 0;
  }
  
  .u-section-7 .u-text-3 {
    margin: 20px 0 0;
  }
  
  .u-section-7 .u-btn-1 {
    border-style: solid;
    padding: 0;
  }
  
  .u-section-7 .u-btn-2 {
    border-style: solid;
    font-size: 0.9375rem;
    text-transform: uppercase;
    font-weight: 400;
    background-image: none;
    letter-spacing: 2px;
    margin: 30px auto 0 0;
    padding: 16px 53px;
  }
  
  @media (max-width: 1199px) {
    .u-section-7 .u-sheet-1 {
      min-height: 1048px;
    }
  
    .u-section-7 .u-shape-1 {
      width: 182px;
      height: 182px;
      margin-top: 690px;
      margin-right: 0;
    }
  
    .u-section-7 .u-shape-2 {
      margin-top: -794px;
    }
  
    .u-section-7 .u-image-1 {
      width: 749px;
      object-position: 0% 50%;
      margin-right: 82px;
    }
  
    .u-section-7 .u-group-1 {
      margin-bottom: 60px;
      margin-left: 178px;
      height: auto;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-7 .u-sheet-1 {
      min-height: 1145px;
    }
  
    .u-section-7 .u-shape-1 {
      margin-top: 877px;
      margin-right: auto;
      margin-left: 95px;
    }
  
    .u-section-7 .u-shape-2 {
      margin-top: -982px;
    }
  
    .u-section-7 .u-image-1 {
      width: 625px;
      height: 594px;
      margin-right: 0;
    }
  
    .u-section-7 .u-group-1 {
      margin-top: -155px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-7 .u-sheet-1 {
      min-height: 1070px;
    }
  
    .u-section-7 .u-shape-1 {
      margin-top: 55px;
      margin-right: 51px;
      margin-left: auto;
    }
  
    .u-section-7 .u-shape-2 {
      margin-top: -960px;
    }
  
    .u-section-7 .u-image-1 {
      width: 432px;
      height: 513px;
      object-position: 16.72% 50%;
    }
  
    .u-section-7 .u-group-1 {
      width: 388px;
      margin-top: -84px;
      margin-bottom: -661px;
      margin-left: 36px;
    }
  
    .u-section-7 .u-container-layout-1 {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-7 .u-sheet-1 {
      min-height: 878px;
    }
  
    .u-section-7 .u-shape-1 {
      width: 146px;
      height: 146px;
      margin-right: 0;
    }
  
    .u-section-7 .u-shape-2 {
      width: 185px;
      height: 185px;
      margin-top: -768px;
    }
  
    .u-section-7 .u-image-1 {
      width: 271px;
      height: 321px;
      object-position: 17.82% 50%;
      margin-top: -108px;
    }
  
    .u-section-7 .u-group-1 {
      min-height: 369px;
      width: 285px;
      margin-top: -50px;
      margin-bottom: -516px;
      margin-left: 0;
    }
  
    .u-section-7 .u-text-1 {
      font-size: 1.5rem;
    }
  } .u-section-8 {
    background-image: none;
  }
  
  .u-section-8 .u-sheet-1 {
    min-height: 758px;
  }
  
  .u-section-8 .u-image-1 {
    width: 273px;
    height: 273px;
    background-image: url("images/ggg.jpg");
    background-position: 50% 50%;
    margin: 84px auto 0;
  }
  
  .u-section-8 .u-text-1 {
    margin: 38px 211px 0 240px;
  }
  
  .u-section-8 .u-form-1 {
    height: 52px;
    width: 545px;
    margin: 39px auto 0;
  }
  
  .u-section-8 .u-label-1 {
    font-size: 1.125rem;
  }
  
  .u-section-8 .u-input-1 {
    height: 50px;
  }
  
  .u-section-8 .u-btn-1 {
    background-image: none;
    text-transform: uppercase;
    font-weight: 700;
    border-style: solid;
    padding: 9px 43px 11px;
  }
  
  .u-section-8 .u-text-2 {
    font-size: 0.875rem;
    width: 466px;
    margin: 38px auto 60px;
  }
  
  .u-section-8 .u-btn-2 {
    border-style: solid;
    padding: 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-8 .u-text-1 {
      width: 689px;
      margin-left: 140px;
      margin-right: 111px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-8 .u-text-1 {
      margin-left: 30px;
      margin-right: 1px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-8 .u-text-1 {
      width: 540px;
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-8 .u-form-1 {
      width: 540px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-8 .u-sheet-1 {
      min-height: 783px;
    }
  
    .u-section-8 .u-image-1 {
      margin-top: 38px;
    }
  
    .u-section-8 .u-text-1 {
      width: 340px;
    }
  
    .u-section-8 .u-form-1 {
      width: 340px;
    }
  
    .u-section-8 .u-text-2 {
      width: 340px;
    }
  } .u-section-9 {
    background-image: none;
  }
  
  .u-section-9 .u-sheet-1 {
    min-height: 400px;
  }
  
  .u-section-9 .u-list-1 {
    width: 712px;
    margin: 60px auto;
  }
  
  .u-section-9 .u-repeater-1 {
    min-height: 225px;
    grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
    grid-gap: 20px;
  }
  
  .u-section-9 .u-list-item-1 {
    background-image: none;
  }
  
  .u-section-9 .u-container-layout-1 {
    padding: 20px;
  }
  
  .u-section-9 .u-text-1 {
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.375rem;
    margin: 0 1px;
  }
  
  .u-section-9 .u-text-2 {
    font-size: 1.125rem;
    line-height: 1.6;
    margin: 22px 0 0;
  }
  
  .u-section-9 .u-list-item-2 {
    background-image: none;
  }
  
  .u-section-9 .u-container-layout-2 {
    padding: 20px;
  }
  
  .u-section-9 .u-text-3 {
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.375rem;
    margin: 0 1px;
  }
  
  .u-section-9 .u-text-4 {
    font-size: 1.125rem;
    line-height: 1.6;
    margin: 22px 0 0;
  }
  
  .u-section-9 .u-list-item-3 {
    background-image: none;
  }
  
  .u-section-9 .u-container-layout-3 {
    padding: 20px;
  }
  
  .u-section-9 .u-text-5 {
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.375rem;
    margin: 0 1px;
  }
  
  .u-section-9 .u-text-6 {
    font-size: 1.125rem;
    line-height: 1.6;
    margin: 22px 0 0;
  }
  
  .u-section-9 .u-btn-1 {
    background-image: none;
    border-style: solid;
    font-weight: 700;
    padding: 0;
  }
  
  .u-section-9 .u-btn-2 {
    border-style: solid;
    font-weight: 700;
    padding: 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-9 .u-repeater-1 {
      grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    }
  }
  
  @media (max-width: 991px) {
    .u-section-9 .u-sheet-1 {
      min-height: 548px;
    }
  
    .u-section-9 .u-repeater-1 {
      min-height: 428px;
      grid-template-columns: repeat(2, calc(50% - 9.99997px));
    }
  }
  
  @media (max-width: 767px) {
    .u-section-9 .u-list-1 {
      width: 540px;
    }
  
    .u-section-9 .u-repeater-1 {
      grid-template-columns: 100%;
    }
  
    .u-section-9 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-9 .u-text-1 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-9 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-9 .u-text-3 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-9 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-9 .u-text-5 {
      margin-left: 0;
      margin-right: 0;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-9 .u-list-1 {
      width: 340px;
    }
  }.u-section-10 .u-sheet-1 {
    min-height: 400px;
  }